{% load static %}
<!DOCTYPE html>
<html>
	<head>
		<title>Amber Grimaldi</title>
		<link rel="stylesheet" type="text/css" href="{% static 'foundation/css/foundation.css' %}">
		<link rel="stylesheet" type="text/css" href="{% static 'foundation/css/foundation.min.css' %}">
		<link rel="stylesheet" type="text/css" href="{% static 'foundation/css/normalize.css' %}">
		<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
	</head>
	<body>
		<p>poop doop</p>
		<button>stuff</button>
	</body>
</html>