{% extends 'redesign_base.html' %}
{% load static %}

{% block content_block %}
	<div class="content-margin">
		<h2>Work</h2>
		<div>
			<div class="index-box">Projects</div>
			<div class="index-box">Resume</div>
		</div>
		<div>
			<div class="index-box">Women Who Code</div>
			<div class="index-box">Pyladies</div>
		</div>
		<h2>Play</h2>
		<div class="index-box">Spitfire Athlete</div>
		<div class="index-box">Backpacking</div>
		<div class="index-box">Camping</div>
		<div class="index-box">Cooking</div>
		<div class="index-box">DIY</div>
	</div>
{% endblock %}