{% extends 'base.html' %}

{% load static %}

{% block content_block %}
<div class="row main-content">
	<div class="small-12 columns intro">
		<img class="profile-image" src="{% static 'img/amber-summer2014.jpg' %}" />
		<span class="profile-description">Intro text. There should be something like two sentences about me and what I do with some info on where stuff is including the info for me projects.</span>
	</div>
	<div class="small-12 columns text-center">
		<div class="row directory">
			<div class="small-6 medium-3 columns">
				<a href="{% url 'resume' %}"><button class="index-block cv">CV</button></a>
			</div>
			<div class="small-6 medium-3 columns">
				<a href="{% url 'project_index' %}"><button class="index-block projects">PROJECTS</button></a>
			</div>
			<div class="small-6 medium-3 columns">
				<button class="index-block blog">BLOG</button>
			</div>
			<div class="small-6 medium-3 columns">
				<a href="#contactMeForm"><button class="index-block contact">CONTACT</button></a>
			</div>

			<div id="contactMeForm" class="modal-dialog"></div>
		</div>
	</div>
</div>
{% endblock %}