{% extends 'base2.html' %}

{% load static %}

{% block content_block %}
	{% for project in projects %}
		{% for image in project.images.all %}
			{% if image.feature %}
				<img src="{{ image.image.url }}" />
			{% endif %}
		{% endfor %}
	{% endfor %}

	<div class="project">
		<a href=""><img src="{% static 'img/fashatude.png' %}" /></a>
	</div>
	<div class="project">
		<a href=""><img src="{% static 'img/asyncio.png' %}" /></a>
	</div>
	<div class="project">
		<a href=""><img src="{% static 'img/fizzmint.png' %}" /></a>
	</div>
{% endblock %}