/* 
teal #81e0e0
yellow #ffffe0 
*/

html {
	height: 100%;
}
body {
	background-color: #fff;
	font-family: 'Droid Sans', sans-serif;
	position: relative;
	height: 100%;
}

p {
 	font-size: 15px;
}

.main-content {
	position: relative;
	top: 50px;
	margin-bottom: 50px;
}

nav, footer{
	color: #fafafa;
	background-color: #707070;
	height: 50px;
}

footer {
	position: fixed;
	bottom: 0;
	width: 100%;
}

.site-bar {
	position: fixed;
	z-index: 2;
	width: 100%;
	font-size: 22px;
	padding-top: 2px;
}

.site-bar span {
	color: #fafafa;
	margin: 0 20px;
	position: relative;
	top: 2px;
}

.intro {
	margin: 1.5em 0;
}

.profile-image {
	position: relative;
	height: 150px;
	width: 150px;
	border-radius: 75px;
	clear: both;
	margin-right: 1em;
	vertical-align: middle;
	float: left;
}

.profile-description {
	position: relative;
	height: 100%;
}

.directory {
	margin: 1.5em 0;
}

.index-block {
	height: 175px;
	position: relative;
	border-style: solid;
	border-color: #fafafa;
	border-width: 1px;
	width: 100%;
	margin: 1.5em 0;
	font-size: 28px;
	padding: 0;
	color: #474747;
}

.cv {
	background-color: #ffb36a;
}
.cv:hover, .cv:focus {
	background-color: #ff8108;
}

.projects {
	background-color: #6ab6ff;
}

.projects:hover, .projects:focus {
	background-color: #0886ff;
}

.blog {
	background-color: #b6ff6a;
}

.blog:hover, .blog:focus {
	background-color: #86ff08
}

.contact {
	background-color: #b36aff;
}

.contact:hover, .contact:focus {
	background-color: #8108ff;
}


footer p {
	position: relative;
	top: 15px;
}
.nav-footer {
	list-style: none;
	float: right;
	position: relative;
	top: -36px;
}

.nav-footer li {
	display: inline;
	margin: 0 15px;
}

.nav-footer a {
	color: #fafafa;
}
