{% extends 'base.html' %}

{% load static %}

{% block content_block %}
<div class="row main-content">
	<div class="12-small columns">
		<h3>Projects</h3>
		<p>Here are some of my side projects. Most are still in flux but you can find more information through the links or the associated repositories. I welcome any feedback you'd be willing to share.</p>
	</div>
	<div class="12-small columns">
		<ul>
			<li>
				<a href="http://asyncio.org/"><h4>Asyncio Resource Page</h4></a>
				<a href="https://github.com/4grim/asyncio-aggregator">Github Repo</a>
				<p>A collection of resources of and related to Python 3.4's introduction of asynchronous I/O</p>
			</li>
		</ul>
	</div>
</div>
{% endblock %}