{% extends 'base.html' %}

{% load static %}

{% block content_block %}
	<div class="row">
		<div class="small-12 medium-10 medium-centered large-12 columns project">
			<h2>{{ project.position }}</h2> 
			<p>{{ project.start_date|date:'M Y' }} - {{ project.end_date|date:'M Y' }}</p>
			<div class="row">
				<div class="small-12 columns text-center">
					{% for image in project.images.all %}
						<a href="{{ image.image.url }}"><div class="project-image" style="background: #fff url({{ image.image.url }}) no-repeat center top; background-size: cover;"></div></a>
					{% endfor %}
				</div>
			</div>

			<p>{{ project.description }}</p>

			<div class="row">
				<div class="small-5 large-4 columns">
					{% if project.technologies %}<span class="project-subhead">Skills enhanced during this project:</span>{% endif %}
				</div>
				<div class="small-7 large-8 columns">
					{% for tech in project.technologies.all %}
						{{ tech }}{% if not forloop.last %}, {% endif %}
					{% endfor %}
				</div>
			</div>

			<div class="row">
				<div class="small-5 large-4 columns">
					<span class="project-subhead">Client:</span>
				</div>
				<div class="small-7 large-8 columns">
					<a href="{{ project.client.website }}">{{ project.client }}</a>
				</div>
			</div>

			<div class="row">
				<div class="small-5 large-4 columns">
					{% if project.client.industries %}<span class="project-subhead">Industry Focus:</span>{% endif %} 
				</div>
				<div class="small-7 large-8 columns">
					{% for industry in project.client.industries.all %}
						{{ industry }}{% if not forloop.last %}, {% endif %}
					{% endfor %}
				</div>
			</div>

		</div>
	</div>
{% endblock %}