{% extends 'base.html' %}

{% load static %}

{% block content_block %}
<div class="row main-content">
	<div class="12-small medium-10 medium-offset-1 large-8 large-offset-2 columns text-center">
		<h3>Projects</h3>
		<p>An index of my opensource side projects. Most are still in flux but you can find more information through the associated links and repositories. Feedback is welcome.</p>
	</div>
	<div class="12-small columns">
		<ul class="project-list">
			<li>
				<h4><a class="project-title" href="http://asyncio.org/">Asyncio.org</a></h4> 
				<a class="subheader" href="https://github.com/4grim/asyncio-aggregator">(code)</a>
				<p>A collection of resources of and related to Python 3.4's introduction of asynchronous I/O</p>
			</li>
		</ul>
	</div>
</div>
{% endblock %}