{% extends 'base.html' %}

{% load staticfiles %}

{% block content_block %}
<div class="row">
	<div class="small-12 columns text-center">
		<h2>Inconcievable.</h2>
		<p>Stuff on cooking, coding and the outdoors. (DISCLAIMER: there may be some other stuff mixed in).</p>
	</div>
	<div class="small-12 medium-10 large-9 columns">
		<ul class="blog-index-list">
			{% for post in posts %}
				<li>
					<h3><a href="{% url 'blog_post' post.slug %}">{{ post }}</a></h3>
					<p class="blog-index-subhead">( {{ post.post_date|date:'M j, Y' }} )</p>
					<p class="blog-index-subhead">{{ post.subtitle }}</p>
				</li>
			{% endfor %}
		</ul>
	</div>
	<div class="small-12 medium-2 large-3 columns">
		<ul class="blog-category-list">
			{% if categories %}
				<h4>Categories</h4>
				<ul>
					{% for category in categories %}
						<a href="{% url 'blog_category_index' category.slug %}"><li>{{ category }}</li></a>
					{% endfor %}
				</ul>
			{% endif %}
		</ul>
	</div>
</div>
{% endblock %}