{% extends 'blog/blog_index.html' %}

{% load staticfiles %}

{% block blog_content %}
	<div class="content-margin">
		<h3 class="blog-category-title">Blogs on {{ category }}</h3>
		{% if category_posts %}
			<ul class="blog-index-list">
				{% for post in category_posts %}
					<li>
						<h3><a href="{% url 'blog_post' post.slug %}">{{ post }}</a></h3>
						<p class="blog-index-subhead">( {{ post.post_date|date:'M j, Y' }} )</p>
						<p class="blog-index-subhead">{{ post.subtitle }}</p>
					</li>
				{% endfor %}
			</ul>
		{% else %}
			<h4>Unfortunately there are no posts in this category yet. Feel free to email me with any requests.</h4>
		{% endif %}
	</div>
{% endblock %}